//Color variables
$white: white;
$green:#28bd8b;
$blue:#1ba8ed;

//Default border color
$defaultBorderColor:#dce1e5;



$header-size: 1em;
$font-color: green;
$content-width: 1200px;
$grid-spacing:3%;
$fa-font-path:"./../../webfonts";

 
 

